.review {
  margin: 90px 0;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.text {
  background: #fff;
  font-size: 18px;
  text-align: center;
}

.author {
  text-align: center;
  margin-top: 20px;
}

.avatar {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
}

.name {
  margin: 14px 0 0 0;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.about {
  font-size: 12px;
}
