.title {
  display: block;
  margin: 20px 0 10px 0;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .title {
    margin-top: 0;
  }
}

.titleSmallSize {
  font-size: 18px;
}

.titleMediumSize {
  font-size: 22px;
}

.titleLargeSize {
  font-size: 32px;
  line-height: 40px;
}

.titleCenter {
  text-align: center;
}

@media (min-width: 768px) {
  .titleCenter {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .titleMediumSize {
    font-size: 29px;
  }
}

@media (min-width: 992px) {
  .titleCenter {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .titleCenter {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .titleMediumSize {
    font-size: 35px;
  }
}
