.title {
  display: block;
  margin: 20px 0 10px 0;
  font-weight: 700;
}


.titleSmallSize {
  font-size: 18px;
}

.titleMediumSize {
  font-size: 22px;
}

.titleLargeSize {
  font-size: 32px;
  line-height: 40px;
}


.titleCenter {
  text-align: center;
}
